<div class="px-4 py-5 text-center banner">
  <h1 class="display-5 fw-bold">Films List</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Create custom film lists</p>
    <p class="lead mb-4">Curate your very own selection</p>
    <%= link_to "Get Started!", new_list_path, class:"btn btn-outline-secondary btn-lg px-4" %>
    <%# <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> %>
  </div>
</div>
