
.classic {
  background-image: url('classic.jpg');
}

.comedy {
  background-image: url('comedy.jpg');
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card {
  h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    padding-top: 12px;
  }
}

.card-link {
  float: right;
  color: red;
  text-decoration: none;
}
